APP_SECRET=____LONG___SECRET_____

# Flight Passport / OAUTH credentials
PASSPORT_URL=__FLIGHT_PASSPORT_URL_EG_https://id.openskies.sh

# Blender Details
BLENDER_BASE_URL=http://local.test:8000
PASSPORT_BLENDER_CLIENT_ID=__BLENDER_CLIENT_ID__
PASSPORT_BLENDER_CLIENT_SECRET=__BLENDER_CLIENT_SECRET__
PASSPORT_BLENDER_SCOPE=___BLENDER_SCOPES__
PASSPORT_BLENDER_AUDIENCE=__BLENDER_AUDIENCE__

# Mapping 
BING_KEY=__BING_MAPS_KEY__
MAPBOX_KEY=__MAPBOX_MAPS_KEY__
MAPBOX_ID=__MAPBOX_ID__

# Declaration Status
DEFAULT_APPROVED=1

# OIDC Settings
OIDC_DOMAIN=__OIDC_DOMAIN__
CLIENT_ID=__OIDC_CLIENT_ID__
CLIENT_SECRET=__OIDC_CLIENT_SECRET__
CALLBACK_URL=__OIDC_CALLBACK_URL__

# Redis and Tile 38
REDIS_URL=redis://localhost:6379
TILE38_SERVER=0.0.0.0
TILE38_PORT=9851