version: '3'
services:
    tile38:
        image: tile38/tile38
        ports:
            - "9851:9851"
        command: [ "tile38-server"]
        container_name : "tile38"
    redis:
        image: redis:latest
        ports:
            - "6379:6379"
        volumes:
            - ./config/redis.conf:/redis.conf
        command: [ "redis-server", "/redis.conf" ]
        container_name: "redis"
        
    web:
      command : npm start
      env_file:
        - .env
      image: openskiessh/flight-spotlight
      container_name: flight-spotlight
      ports:
        - "5000:5000"
      network_mode: "host"