<p>&nbsp;</p>
<div class="row">
    <div class="col-sm-12 col-md-12">
    <%if (data.results.length > 0 ) { %>
    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="btn-group">
        <input type="button" class="btn btn-outline-secondary btn-sm" id="zoomIn" value="Zoom in"/>&nbsp;
        <input type="button" class="btn btn-outline-secondary btn-sm" id="zoomOut" value="Zoom out"/>&nbsp;
        <input type="button" class="btn btn-outline-secondary btn-sm" id="moveLeft" value="Move left"/>&nbsp;
        <input type="button" class="btn btn-outline-secondary btn-sm" id="moveRight" value="Move right"/>&nbsp;
    </div>
    </div>
    
    <br>
    <% } %>
        <div id="visualization"></div>
    </div>
</div>
