
    <div class="container-fluid">  
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-12 d-flex align-items-center">
            <p>Flight Blender Connectivity: <% if (blender_connectivity === 0) { %><a type="button" class="btn btn-success btn-sm">Up</a>  <% } else { %> <a type="button" class="btn btn-danger btn-sm">Down</a> <% } %> Need help? See this <a href="https://www.github.com/openskies-sh/flight-spotlight">blog post</a> for more information.</p>
          </div>
        </footer>
    </div>