<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="UTF-8" />
    <title>Flight Spotlight</title>
    
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    
  </head>

  <body class="h-100">
    <div id="app" class="h-100 d-flex flex-column">
      <div class="nav-container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <div class="container">
            <div class="navbar-brand logo"></div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">                  
                </li>
              </ul>
             
            </div>
          </div>
        </nav>
      </div>

      <div id="main-content" class="container mt-5 flex-grow-1">
        <div id="content-home" class="page">          
          <img class="img-responsive" height="300" src="assets/img/logo_transparent.png">
          <p class="description">Welcome to Flight Spotlight, using this application, you can see flights and drones in real-time. You can connect to a U-Space / UTM airspace for Network Remote ID information. You can also integrate other data sources such as ADS-B feeds for showing non-drone traffic. In addition, it can display standards-compliant (EuroCAE) geofences for a area. Finally it is compatible with different data sources to display flight information drone registration data and flight declarations.</p><br>                    
        </div>

        <div class="page" id="content-profile">   
            <a class="btn btn-primary btn-margin auth-invisible hidden" href="/auth" >Log in </a>          
        </div>
      </div>
             
      <br>
      <br>
      <br>

      <footer class="bg-light text-center p-5">
        <div class="logo"></div>
        <p>
          See <a href="https://www.github.com/openskies-sh/flight-spotlight">Github Repository</a> for more information. &copy; Openskies Aerial Technology Limited.
        </p>
      </footer>
    </div>

    <script type="text/javascript" src="/assets/js/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    

    
  </body>
</html>
