<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="UTF-8" />
    <title>Flight Spotlight</title>
    
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    
  </head>

  <body class="h-100">
    <div id="app" class="h-100 d-flex flex-column">
      <div class="nav-container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <div class="container">
            <div class="navbar-brand logo"></div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a href="/" class="nav-link route-link">&nbsp;</a>
                </li>
              </ul>
             
            </div>
          </div>
        </nav>
      </div>

      <div id="main-content" class="container mt-5 flex-grow-1">
        <div id="content-home" class="page">
          <h3>Flight Spotlight</h3>
          <p class="description">Welcome to Flight Spotlight, using this application, you can see flights and drones in real-time. This software can connect to DSS and other ADS-B feeds and other data sources to display flight information (e.g. drone registration) on a globe.</p><br>          
          
        </div>

        <div class="page" id="content-profile">
          <div class="container">
            <br><br>
            <a class="btn btn-primary btn-margin auth-invisible hidden" href="/login" >Log in </a>
          </div>
        </div>
      </div>

      <footer class="bg-light text-center p-5">
        <div class="logo"></div>
        <p>
          See <a href="https://www.github.com/openskies-sh/flight-spotlight">Github Repository</a> for more information
        </p>
      </footer>
    </div>

    <script type="text/javascript" src="/assets/js/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>
    

    
  </body>
</html>
