
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logo_transparent_sm.png" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        
       
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            
                <li class="nav-item">
                    <a class="nav-link" href="/spotlight">Live Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/launchpad">Launchpad</a>
                </li>            
                <li class="nav-item">
                    <a class="nav-link" href="/noticeboard">Noticeboard</a>
                </li>            
            </ul>
        </div>
</div>
    </nav>