
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logo_transparent_sm.png" height="50">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        
        </div>
        <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav">
            
            <li class="nav-item">
                <a class="nav-link" href="/spotlight">Live Flights</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link" href="/launchpad">Launchpad</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="/noticeboard">Noticeboard</a>
            </li>            
            
            </ul>
        </div>
        
</div>
    </nav>