<!DOCTYPE html>
<html lang="en">

<head>
    <title>Openskies Flight Noticeboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="assets/img/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/datepicker/bootstrap-datepicker3.min.css">

    <link rel="stylesheet" href="/assets/js/humane/flatty.css">

    <script type="text/javascript" src="/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/socket.io/socket.io.min.js"></script>
    <script type="text/javascript" src="/assets/js/humane/humane.min.js"></script>
    <script type="text/javascript" src="/assets/js/datepicker/bootstrap-datepicker.min.js"></script>


    <script src="/assets/Build/Cesium/Cesium.js"></script>
    <style>
        @import url(/assets/Build/Cesium/Widgets/widgets.css);
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg     navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/logo_transparent_sm.png" height="50">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">

        </div>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/spotlight">Live Flights</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/noticeboard">Noticeboard<span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Nav 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Nav 3</a>
                </li> -->
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 main">

                <br>
                <div class="information">
                    <div class="mb-3">
                        <div id="date-container" class="">
                            <div class="input-daterange input-group" id="datepicker">
                                <span class="input-group-addon">From </span>&nbsp;
                                <input type="text" id="start" class="input-sm form-control" name="start" />
                                &nbsp;<span class="input-group-addon">To</span>&nbsp;
                                <input type="text" id="end" class="input-sm form-control" name="end" />
                            </div>
                        </div>
                    </div>
                    <div class="schedule-button">
                        <button type="button" onclick="get_flight_declarations()" id="search-timeframe"
                            class="btn btn-primary">Show Schedule</button>
                    </div>

                    <div class="d-none loading-spinner" id="spinner-cont"><br>
                        <img src="/assets/img/spinner.gif" height="30px">
                    </div>

                    <hr>
                    <div class="d-none" id="flight-declarations">
                        <button id="show-flight-declarations" type="button" class="btn btn-link">Get Flight
                            Declarations</button>
                    </div>
                    <br>
                    <div id="search-results"></div>

                </div>

            </div>

            <div class="col-sm-8 col-md-8 sidebar">
                <div id="cesiumContainer"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var path_done;
        var all_flight_declarations;
        var datepicker = $('#date-container .input-daterange').datepicker({
            todayBtn: "linked",
            format: 'yyyy-mm-dd'
        });
        let start_date = 0;
        let end_date = 0;
        // var data = <% JSON.stringify(data) %>;
        $('#datepicker').on('changeDate', (event) => {
            // save checkin date
            let d = event.date;
            var datestring = d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" + ("0" + (d
                .getDate())).slice(-2);
            if (event.target.id == 'start') {
                start_date = datestring;
            } else if (event.target.id == 'end') {
                end_date = datestring;
            }
        });



        var bing = new Cesium.BingMapsImageryProvider({
            url: 'https://dev.virtualearth.net',
            key: '<%= bing_key %>',
            mapStyle: Cesium.BingMapsStyle.AERIAL
        });

        var mapbox = new Cesium.MapboxImageryProvider({
            mapId: '<&= mapbox_id %>',
            accessToken: '<%= mapbox_key %>'
        });

        var viewer = new Cesium.Viewer('cesiumContainer', {
            "geocoder": false,
            "homeButton": false,
            "baseLayerPicker": false,
            "infoBox": false,
            "sceneModePicker": false,
            "animation": false,
            "selectionIndicator": false,
            "fullscreenButton": false,
            "timeline": false,
            "navigationHelpButton": false,
            "imageryProvider": bing
        });

        var scene = viewer.scene;
        var clock = viewer.clock;
        var camera = viewer.camera;

        var cameralat;
        var cameralng;

        // const fd_button = $('#show-flight-declarations');
        // fd_button.on('click', get_flight_declarations);
        function generate_approve_reject_control(flight_declaration_details) {
            let input_control =
                '<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="' +
                flight_declaration_details['declaration_id'] + '" ';
            if (flight_declaration_details.is_approved == true) {
                input_control += 'checked';
            }
            input_control += '> <label class="form-check-label" for="' + flight_declaration_details['declaration_id'] +
                '">' + " Flight Approved?</label></div><hr>";

            return input_control;
        }

        function render_declaration_info(flight_declaration_details) {
            let input_control = generate_approve_reject_control(flight_declaration_details)
            let html = '';
            html += "<h5><a href='#' onclick='highlight_flight_declaration(" + '"' + flight_declaration_details[
                'declaration_id'] + '"' + ")'>" + flight_declaration_details['flight_declaration_json'][
                'originating_party'
            ] + '</a></h5> ';

            html += '<h6>Type: ' + flight_declaration_details['flight_declaration_json']['operation_mode'] + ' </h6>';

            html += input_control;

            // let fd_div = document.createTextNode(html);
            const newDiv = document.createElement("div");
            newDiv.innerHTML = html;
            return newDiv;
        }

        function show_flight_declarations(flight_declarations) {
            viewer.dataSources.remove(path_done, true); // Removing old data.
            flight_declarations.forEach(flight_declaration => {

                const results_list = document.getElementById('search-results');
                results_list.appendChild(render_declaration_info({
                    'declaration_id': flight_declaration['id'],
                    'flight_declaration_json': JSON.parse(flight_declaration[
                        'gutma_flight_declaration']),
                    'start_time': flight_declaration['start_datetime'],
                    'end_time': flight_declaration['end_datetime'],
                    'is_approved': flight_declaration['is_approved']
                }));
            }).then(function (geoData) {
                viewer.dataSources.add(geoData); //Adding new one.
                path_done = geoData; //Storing new reference.
            });
        }

        function computeCircle(radius) {
            var positions = [];
            for (var i = 0; i < 360; i++) {
                var radians = Cesium.Math.toRadians(i);
                positions.push(
                    new Cesium.Cartesian2(
                        radius * Math.cos(radians),
                        radius * Math.sin(radians)
                    )
                );
            }
            return positions;
        }

        function highlight_flight_declaration(declaration_id) {
            for (let index = 0; index < all_flight_declarations.length; index++) {
                const cur_declaration = all_flight_declarations[index];
                if (cur_declaration['declaration_id']==declaration_id ){

                   
                    // const current_declaration = JSON.parse(raw_declarations[fd]);
                    const current_declaration_json = JSON.parse(current_declaration['gutma_flight_declaration']);
                    const fd_geo_json = current_declaration_json['flight_declaration']['parts'];
                    // render fd_geo_json

                    var dataSource = Cesium.GeoJsonDataSource.load(fd_geo_json).then(
                        function (dataSource) {
                            var p = dataSource.entities.values;
                            for (var i = 0; i < p.length; i++) {
                                p[i].polygon.extrudedHeight = 15; // or height property
                            }
                            viewer.dataSources.add(dataSource);
                            viewer.zoomTo(dataSource);
                        }
                    );
                
                }
                
            }
        }

        

        function get_flight_declarations(e) {

            $.ajax({
                url: '/retrieve_flight_declarations',
                type: 'GET',
                data: {
                    'start_date': start_date,
                    'end_date': end_date
                }

            }).done(response => {

                const results_list = document.getElementById('search-results');
                results_list.innerHTML = "";
                // render flight declarations
                if (response.length > 0) {
                    let all_declarations = response;
                    show_flight_declarations(all_declarations || []);
                    all_flight_declarations = all_declarations;
                    // render_flight_declarations(all_declarations || []);
                }


            }).fail(error => {
                if (error.status == 404) {
                    humane.log("Error in getting declarations", {
                        addnCls: 'humane-flatty-error'
                    });
                } else if (error.status == 422) {
                    humane.log("Error in getting declarations", {
                        addnCls: 'humane-flatty-error'
                    });
                }
                // console.log(error);
            });
        }
    </script>
</body>

</html>