.page-header {
    font-family: 'Karla', sans-serif;
}

h5,
h4,
h6,
h3,
h2,
h1 {
    font-family: 'Karla', sans-serif;
}

#left {
    width: 360px;
    padding: 20px;
    font-size: 12px;
    float: left;
}

#right {
    /*padding: 20px;*/
    overflow: auto;
    /*background: #ccc;*/
}

#map {
    width: 100%;
    /*height: 500px;*/
}


/*
#glMap {
    width: 100%;
    height: 500px;
}*/

.glcontrol {
    /*position: absolute;*/
    left: 0;
    z-index: 1000;
    padding: 10px;
}

.glcontrol.tilt {
    right: 0px;
}

.glcontrol.rotation {
    right: 85px;
}

.glcontrol.zoom {
    right: 130px;
}

.glcontrol.zoom button {
    font-weight: normal;
}

.glcontrol button {
    width: 30px;
    height: 30px;
    margin: 10px 0 0 10px;
    border: 1px solid #999999;
    background: #ffffff;
    /*opacity: 0.6;*/
    /*border-radius: 2px;*/
    font-size: 14px;
    /*box-shadow: 0 0 5px #666666;*/
    /*font-weight: bold;*/
    text-align: center;
}

a {
    color: #3a9bdc;
}

.glcontrol button:hover {
    opacity: 1;
    cursor: pointer;
}

textarea#geo_polygon_string {    
    font-family: 'Karla', sans-serif;
    height: 100px;    
    padding: 5px;
    display: block;
    width: 100%;
}

.button {
    background-color: #4CAF50;
    /* Green */
    font-family: 'Karla', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttongreen {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    counter-increment: item;
    margin-bottom: 5px;
}

li:before {
    margin-right: 10px;
    content: counter(item);
    background: #7f8c8d;
    border-radius: 100%;
    color: white;
    width: 1.4em;
    text-align: center;
    display: inline-block;
}

a {
    color: #00AED8;
}

a:hover {
    color: #00AED8;
}

ul {
    list-style: none;
    width: 400px;
    margin-left: 0;
    font-size: 16px;
    padding-left: 1em;
    text-indent: -1em;
}

li {
    top: 5px;
    padding: 2px;
}

section.information h1 {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}

.sysname {
    font-family: "Karla", Times, serif;
    text-transform: uppercase;
    font-size: 18px;
}

section.information h2 {
    font-family: "Karla", Times, serif;
    /*font-size: 12px;*/
    /*font-style: italic;*/
    font-weight: normal;
    margin-top: -2px;
}

section.information h4 {
    font-family: "Karla", Times, serif;
    /*font-size: 12px;*/
    /*font-style: italic;*/
    font-weight: normal;
    margin-top: -2px;
}

section.information div.description,
section.information p.description {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 8px 0 0 0;
}

section.information,
section.information,
textarea {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*margin: 15px 0 0 0;*/
    padding-bottom: 10px;
}

section.information h3.modes {
    margin-top: 20px;
}

section.information label.toggle-modes {
    background-color: rgba(0, 0, 0, .2);
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 2px 8px;
}

section.information ul.controls {
    list-style-type: square;
    margin: 15px 0 0 25px;
}

section.information ul.controls li {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

section.information ul.controls li.disabled a {
    color: rgba(0, 0, 0, .35);
}

section.information ul.controls li a {
    cursor: pointer;
    transition: color .25s;
}

section.information ul.controls li:not(.disabled) a:hover {
    color: black;
}

section.information ul.controls li span.only {
    color: rgba(0, 0, 0, .25);
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: color .25s;
}

section.information ul.controls li span.only:hover {
    color: rgba(0, 0, 0, .35);
}

section.information span.current-mode {
    color: rgba(0, 0, 0, .25);
    font-size: 10px;
    margin-left: 10px;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
}

input[type="text"]:focus {
    outline: none;
}


/* lists */

ul.input-list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
}

.herounit {
    background: #E5E4E2;
    padding-bottom: 25px;
}

ul.input-list li {
    display: block;
    padding: 0 5px;
    width: 50%;
    float: left;
}

@media all and (max-width: 800px) {
    ul.input-list {
        margin: 0;
    }
    ul.input-list li {
        padding: 0;
        width: 100%;
        float: none;
        margin-bottom: 5px;
    }
}

.style-2 input[type="text"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}

.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
    border: solid 5px #969696;
}

.button {
    background-color: #4CAF50;
    /* Green */
    font-family: 'Karla', sans-serif;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
}

span.grey {
    font-family: 'Karla', sans-serif;
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

#cesiumContainer {
    height: 100%;
}

.cameracontrols {
    /*position: absolute;*/
    left: 0;
    z-index: 1000;
    padding: 10px;
}

.cameracontrols button {
    width: 100px;
    height: 40px;
    margin: 10px 0 0 10px;
    border: 1px solid #999999;
    background: #ffffff;
    /*opacity: 0.6;*/
    /*border-radius: 2px;*/
    font-size: 14px;
    /*box-shadow: 0 0 5px #666666;*/
    /*font-weight: bold;*/
    text-align: center;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    /*float: right;*/
    font-size: 12px;
}