.page-header {
    font-family: 'Karla', sans-serif;
}

h5,
h4,
h6,
h3,
h2,
h1 {
    font-family: 'Karla', sans-serif;
}

textarea#geo_polygon_string {    
    font-family: 'Karla', sans-serif;
    height: 100px;    
    padding: 5px;
    display: block;
    width: 100%;
}

.button {
    background-color: #4CAF50;
    /* Green */
    font-family: 'Karla', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttongreen {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

ol {
    list-style: none;
    padding: 0;
}


a {
    color: #00AED8;
}

a:hover {
    color: #00AED8;
}

ul {
    list-style: none;
    /* width: 400px; */
    margin-left: 0;
    font-size: 16px;
    padding-left: 1em;
    text-indent: -1em;
}

li {
    top: 5px;
    padding: 2px;
}

#latest-status li {
    font-size: 12px;
}
.date {
    color:#c9c9c9;
    font-size:10px;
}

.information h1 {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}

.sysname {
    font-family: "Karla", Times, serif;
    text-transform: uppercase;
    font-size: 18px;
}

.information h2 {
    font-family: "Karla", Times, serif;
    /*font-size: 12px;*/
    /*font-style: italic;*/
    font-weight: normal;
    margin-top: -2px;
}

.information h4 {
    font-family: "Karla", Times, serif;
    /*font-size: 12px;*/
    /*font-style: italic;*/
    font-weight: normal;
    margin-top: -2px;
}

.information div.description,
.information p.description {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 8px 0 0 0;
}

.information,
.information,
textarea {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*margin: 15px 0 0 0;*/
    padding-bottom: 10px;
}

.information h3.modes {
    margin-top: 20px;
}

.information label.toggle-modes {
    background-color: rgba(0, 0, 0, .2);
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 2px 8px;
}

.information ul.controls {
    list-style-type: square;
    margin: 15px 0 0 25px;
}

.information ul.controls li {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.information ul.controls li.disabled a {
    color: rgba(0, 0, 0, .35);
}

.information ul.controls li a {
    cursor: pointer;
    transition: color .25s;
}

.information ul.controls li:not(.disabled) a:hover {
    color: black;
}

.information ul.controls li span.only {
    color: rgba(0, 0, 0, .25);
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: color .25s;
}

.information ul.controls li span.only:hover {
    color: rgba(0, 0, 0, .35);
}

.information span.current-mode {
    color: rgba(0, 0, 0, .25);
    font-size: 10px;
    margin-left: 10px;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
}

input[type="text"]:focus {
    outline: none;
}


/* lists */

ul.input-list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
}

.herounit {
    background: #E5E4E2;
    padding-bottom: 25px;
}

ul.input-list li {
    display: block;
    padding: 0 5px;
    width: 50%;
    float: left;
}

@media all and (max-width: 800px) {
    ul.input-list {
        margin: 0;
    }
    ul.input-list li {
        padding: 0;
        width: 100%;
        float: none;
        margin-bottom: 5px;
    }
}

#cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
    /* position: absolute; */
}

.sidebar {
    /* display: none;*/
    height: 90%;
    position:absolute;
    right: 0;
    padding: 0;
    display: block;
}

/* @media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        /*padding: 20px;*/
        overflow-x: hidden;
        overflow-y: hidden;
        /*background-color: #f5f5f5;*/
        border-right: 1px solid #eee;
    }
} */

.main {
    padding: 20px;
    /*padding-bottom: 500px;*/
}


@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.breakpoint-current {
    left: 0;
    margin-top: -10px;
    position: fixed;
    /* top: 33.3333%; */
    width: 3px;
    height: 3px;
    background: red;
    ;
}

.viewing {
    background: #eee;
}

section {
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}

.page-header {
    margin-bottom: 0px;
}