
h5,
h4,
h6,
h3,
h2,
h1 {
    font-family: 'Karla', sans-serif;
}

#date-container {
    margin-left:10px;
}
.schedule-button {
    margin-left:10px;
}
textarea#geo_polygon_string {    
    font-family: 'Karla', sans-serif;
    /* height: 100px;     */
    /* padding: 5px; */
    /* display: block; */
    /* width: 100%; */
}

.button {
    background-color: #4CAF50;
    /* Green */
    font-family: 'Karla', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#cesiumContainer {
    height: 650px;
}
.buttongreen {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

ol {
    list-style: none;
    padding: 0;
}


a {
    color: #00AED8;
}

a:hover {
    color: #00AED8;
}

.information ul {
    list-style: none;
    /* width: 400px; */
    margin-left: 0;
    font-size: 16px;
    padding-left: 1em;
    text-indent: -1em;
}

#latest-status li {
    font-size: 12px;
}
.date {
    color:#c9c9c9;
    font-size:10px;
}

.information h1 {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}

.information h2 {
    font-family: "Karla", Times, serif;
    /*font-size: 12px;*/
    /*font-style: italic;*/
    font-weight: normal;
    margin-top: -2px;
}

.information h4 {
    font-family: "Karla", Times, serif;
    /*font-size: 12px;*/
    /*font-style: italic;*/
    font-weight: normal;
    margin-top: -2px;
}

.information div.description,
.information p.description {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 8px 0 0 0;
}

.information,
.information,
textarea {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*margin: 15px 0 0 0;*/
    padding-bottom: 10px;
}

.information h3.modes {
    margin-top: 20px;
}

.information label.toggle-modes {
    background-color: rgba(0, 0, 0, .2);
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 2px 8px;
}

.information ul.controls {
    list-style-type: square;
    margin: 15px 0 0 25px;
}

.information ul.controls li {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.information ul.controls li.disabled a {
    color: rgba(0, 0, 0, .35);
}

.information ul.controls li a {
    cursor: pointer;
    transition: color .25s;
}

.information ul.controls li:not(.disabled) a:hover {
    color: black;
}

.information ul.controls li span.only {
    color: rgba(0, 0, 0, .25);
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: color .25s;
}

.information ul.controls li span.only:hover {
    color: rgba(0, 0, 0, .35);
}

.information span.current-mode {
    color: rgba(0, 0, 0, .25);
    font-size: 10px;
    margin-left: 10px;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
}

input[type="text"]:focus {
    outline: none;
}


/* lists */


